.wd-progress {
  width: 90%;
  /* height: 100%; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.progress-container {
  width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  justify-content: center;
  margin-top: 5rem;
  padding: 0px 70px;
  filter: drop-shadow(5px 5px 10px #ff3f12);
}
.progress-decoration {
  position: relative;
  height: 16vh;
}
.progress-decoration svg {
  position: absolute;
  fill: rgba(237, 30, 40, 0.2);
}

.progress-bar {
  background-color: transparent;
  border: 3px #f4f4f4 solid;
  border-radius: 20px;
  position: relative;
  margin: 4px 0 16px 0;
  height: 40px;
  width: 50%;
}

.progress-bar .completed-bar {
  /* background: linear-gradient(to left, #ed1e28, #fe6d62); */
  background: linear-gradient(to left, #ff3f4e, #e77f68);
  border-radius: 20px;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* transition-timing-function: linear;
  transition: ease 0.1s; */
  padding: 0 8px;
}
.progress-bar .completed-bar__dashed {
  width: 96%;
  border: 1px dashed #fff;
}
.progress-information {
  display: none;
  justify-content: space-between;
  padding: 0 4px;
}
@media only screen and (max-width: 576px) {
  .progress-container {
    padding: 0px 16px;
  }
  .progress-decoration {
    display: none;
  }
  .progress-information {
    display: flex;
  }
  .progress-bar {
    margin-bottom: 4px;
  }
  .progress-bar .completed-bar__dashed {
    width: 96%;
    border: 1px dashed #fff;
  }
}
.sifiveLogo {
  transition: ease-in-out 1s;
}
.sifiveLogo:hover {
  transform: scale(1.3);
}
