#statusBars {
  opacity: 0.8;
}

#statusBars.show {
  opacity: 0.8;
}

#statusBars.hide {
  opacity: 0;
}

.status {
  width: 2000px;
  height: 34px;
  vertical-align: middle;
  line-height: 30px; /* to ensure the text is centered*/
  position: absolute;
  bottom: 1px;
  left: 320px;
  /* background-color: rgb(262, 63, 78); */
  /* opacity: 0.2; */
  text-align: center;
  color: rgb(252, 252, 252);
  border-radius: 48px;
  border: 2px;
  border-color: rgb(262, 63, 78);
  display: flex;
  flex-direction: row;
  align-items: left;
  flex-wrap: wrap;
  z-index: 1000;
  user-select: none;
}
.status > div {
  height: 30px;
  width: 150px;
  vertical-align: middle;
  line-height: 30px;
  background-color: rgb(262, 63, 78);
  color: rgb(252, 252, 252);
  margin: 3px;
  border-radius: 48px;
  user-select: none;
}
