@font-face {
  font-family: Iosevka;
  src: url('./iosevka-term-light.woff2') format('woff2')
}

body {
  overflow: hidden;
  margin: 0px;
  border: 0px;
  background: #111;
  color: #fff;
  font-family: 'Iosevka';
  /* font-size: 16px; */
}

.wd-cursor {
  position: absolute;
  top: 0px;
  z-index: 1;
}

line.wd-cursor-line {
  stroke-dasharray: 4 3;
  stroke: #fff7;
  stroke-width: 1px;
}

text.wd-cursor-time {
  font-size: 20px;
  fill: hsl(70, 100%, 50%);
  text-anchor: middle;
  z-index: 1;
}

rect.wd-cursor-time {
  fill: #222;
}

.wd-values {
  position: absolute;
  left: 0px;
  top: 0px;
}

.wd-values text {
  font-size: 14px;
  text-anchor: middle;
  fill: #fff;
}

line.wd-grid-time {
  stroke: #333;
  stroke-width: 1px;
}

text.wd-grid-time {
  text-anchor: middle;
  fill: hsla(49, 100%, 50%, 0.7);
}

.wd-view {
  position: absolute;
  left: 0px;
  top: 20px;
  bottom: 20px;
}


text.xred {
  fill: hsl(0, 100%, 50%);
}
text.zxviolet {
  fill: hsl(287, 100%, 67%);
}

/* .sidebar {
  top: 20px;
  bottom: 20px;
        height: auto;
  z-index: 2;
} */

.wd-container {
  /* background-color: #1c1c1c; */
  /* overflow: hidden; */
  height: 100%;
  cursor: col-resize;
}

.wd-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cm-s-waveql.CodeMirror {
  /* font-family: 'Roboto mono', monospace; */
  /* padding: 20 0 20 0; */
  font-family: 'Iosevka';
  line-height: 1.5;
  font-size: 16px;
  top: 20px;
  bottom: 20px;
  width: 320px;
  background: #0007;
}

.CodeMirror {
  /* font-family: 'Roboto mono', monospace; */
  font-family: 'Iosevka';
  line-height: 2;
  font-size: 16px;
  top: 20px;
  bottom: 20px;
  height: calc(100% - 40px);
  left: 0px;
  width: 320px;
  background: #0007;
}

/* .CodeMirror-line > span {
  background: #000f;
} */

/* Port of TextMate's waveql theme */

.cm-signal { color: #fcff31; }
.cm-path   { color: #51bfff; font-weight: bold; }
.cm-format { color: #31ff98; font-weight: bold; }

.cm-s-waveql.CodeMirror { background: #0c10218e; color: #F8F8F8; }
.cm-s-waveql div.CodeMirror-selected { background: #ffffff22; }
.cm-s-waveql .CodeMirror-line::selection, .cm-s-waveql .CodeMirror-line > span::selection, .cm-s-waveql .CodeMirror-line > span > span::selection { background: rgba(37, 59, 118, .99); }
.cm-s-waveql .CodeMirror-line::-moz-selection, .cm-s-waveql .CodeMirror-line > span::-moz-selection, .cm-s-waveql .CodeMirror-line > span > span::-moz-selection { background: rgba(37, 59, 118, .99); }
.cm-s-waveql .CodeMirror-gutters { background: #0C1021; border-right: 0; }
.cm-s-waveql .CodeMirror-guttermarker { color: #FBDE2D; }
.cm-s-waveql .CodeMirror-guttermarker-subtle { color: #888; }
.cm-s-waveql .CodeMirror-linenumber { color: #888; }
.cm-s-waveql .CodeMirror-cursor { border-left: 1px solid #A7A7A7; }

.cm-s-waveql .cm-keyword { color: #FBDE2D; }
.cm-s-waveql .cm-atom { color: #D8FA3C; }
.cm-s-waveql .cm-number { color: #D8FA3C; }
.cm-s-waveql .cm-def { color: #8DA6CE; }
.cm-s-waveql .cm-variable { color: #FF6400; }
.cm-s-waveql .cm-operator { color: #FBDE2D; }
.cm-s-waveql .cm-comment { color: #AEAEAE; }
.cm-s-waveql .cm-string { color: #61CE3C; }
.cm-s-waveql .cm-string-2 { color: #61CE3C; }
.cm-s-waveql .cm-meta { color: #D8FA3C; }
.cm-s-waveql .cm-builtin { color: #8DA6CE; }
.cm-s-waveql .cm-tag { color: #8DA6CE; }
.cm-s-waveql .cm-attribute { color: #8DA6CE; }
.cm-s-waveql .cm-header { color: #FF6400; }
.cm-s-waveql .cm-hr { color: #AEAEAE; }
.cm-s-waveql .cm-link { color: #8DA6CE; }
.cm-s-waveql .cm-error { background: #880900; color: #F8F8F8; }

.cm-s-waveql .CodeMirror-activeline-background { background: #3C3636; }
.cm-s-waveql .CodeMirror-matchingbracket { outline:1px solid grey;color:white !important; }
