@font-face {
  font-family: Iosevka;
  src: url('./iosevka-term-light.woff2') format('woff2')
}

* {
  scrollbar-width: auto;
  scrollbar-color: #aaa #555;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #555;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 4px;
  border: 1px solid #aaa;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background: #111;
  color: #fff;
  font-family: 'Iosevka';
  /* font-size: 16px; */
  height: 100%;
}

.wd-cursor {
  position: absolute;
  top: 0px;
  z-index: 1;
  pointer-events: none;
}

line.wd-cursor-line {
  stroke-dasharray: 4 3;
  stroke: #fff7;
  stroke-width: 1px;
}

text.wd-cursor-time {
  font-size: 20px;
  fill: hsl(70, 100%, 50%);
  text-anchor: middle;
  z-index: 1;
}

rect.wd-cursor-time {
  fill: #222;
}

.wd-values {
  position: absolute;
  left: 0px;
  top: 0px;
}

.wd-values text {
  font-size: 14px;
  text-anchor: middle;
  fill: #fff;
}

line.wd-grid-time {
  stroke: #333;
  stroke-width: 1px;
}

text.wd-grid-time {
  text-anchor: middle;
  fill: hsla(49, 100%, 50%, 0.7);
}

.wd-view {
  position: absolute;
  left: 0px;
  top: 20px;
  bottom: 20px;
}


text.xred {
  fill: hsl(0, 100%, 50%);
}
text.zxviolet {
  fill: hsl(287, 100%, 67%);
}

/* .sidebar {
  top: 20px;
  bottom: 20px;
        height: auto;
  z-index: 2;
} */

.wd-container {
  /* background-color: #1c1c1c; */
  /* overflow: hidden; */
  height: 100%;
  cursor: col-resize;
}

.wd-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  height: 100%;
}

text.pc         { text-anchor: start; }
tspan.pc-addr   { fill: hsl(202 100% 71%); }
tspan.pc-opcode { fill: hsl(37 100% 50%); }
tspan.pc-asm    { fill: hsl(0 0% 100%); }
rect.pc-odd    { fill: #222; }
rect.pc-even   { fill: #444; }

rect.ct0 { fill: hsla(  0, 100%, 50%, 0.5); }
rect.ct1 { fill: hsla( 10, 100%, 50%, 0.5); }
rect.ct2 { fill: hsla( 20, 100%, 50%, 0.5); }
rect.ct3 { fill: hsla( 35, 100%, 50%, 0.5); }
rect.ct4 { fill: hsla( 40, 100%, 50%, 0.5); }
rect.ct5 { fill: hsla( 50, 100%, 50%, 0.5); }
rect.ct6 { fill: hsla( 60, 100%, 50%, 0.5); }
rect.ct7 { fill: hsla( 70, 100%, 50%, 0.5); }
rect.ct8 { fill: hsla( 80, 100%, 50%, 0.5); }
rect.ct9 { fill: hsla( 90, 100%, 50%, 0.5); }
rect.cta { fill: hsla(100, 100%, 50%, 0.5); }
rect.ctb { fill: hsla(110, 100%, 50%, 0.5); }
rect.ctc { fill: hsla(120, 100%, 50%, 0.5); }
rect.ctd { fill: hsla(130, 100%, 50%, 0.5); }
rect.cte { fill: hsla(140, 100%, 50%, 0.5); }
rect.ctf { fill: hsla(150, 100%, 50%, 0.5); }
rect.ctg { fill: hsla(160, 100%, 50%, 0.5); }
rect.cth { fill: hsla(170, 100%, 50%, 0.5); }
rect.cti { fill: hsla(180, 100%, 50%, 0.5); }
rect.ctj { fill: hsla(190, 100%, 50%, 0.5); }
rect.ctk { fill: hsla(200, 100%, 50%, 0.5); }
rect.ctl { fill: hsla(210, 100%, 50%, 0.5); }
rect.ctm { fill: hsla(220, 100%, 50%, 0.5); }
rect.ctn { fill: hsla(230, 100%, 50%, 0.5); }
rect.cto { fill: hsla(240, 100%, 50%, 0.5); }
rect.ctp { fill: hsla(250, 100%, 50%, 0.5); }
rect.ctq { fill: hsla(260, 100%, 50%, 0.5); }
rect.ctr { fill: hsla(370, 100%, 50%, 0.5); }
rect.cts { fill: hsla(380, 100%, 50%, 0.5); }
rect.ctt { fill: hsla(390, 100%, 50%, 0.5); }
rect.ctu { fill: hsla(300, 100%, 50%, 0.5); }
rect.ctv { fill: hsla(310, 100%, 50%, 0.5); }
rect.ctw { fill: hsla(320, 100%, 50%, 0.5); }
rect.ctx { fill: hsla(330, 100%, 50%, 0.5); }
rect.cty { fill: hsla(340, 100%, 50%, 0.5); }
rect.ctz { fill: hsla(350, 100%, 50%, 0.5); }

rect.pc0 { fill: none; stroke-width: 4px; stroke: hsl(30, 100%, 75%)}
rect.pc1 { fill: none; stroke-width: 4px; stroke: hsl(165, 100%, 75%)}
rect.pc2 { fill: none; stroke-width: 4px; stroke: hsl(300, 100%, 75%)}
rect.pc3 { fill: none; stroke-width: 4px; stroke: hsl(75, 100%, 75%)}
rect.pc4 { fill: none; stroke-width: 4px; stroke: hsl(210, 100%, 75%)}
rect.pc5 { fill: none; stroke-width: 4px; stroke: hsl(345, 100%, 75%)}
rect.pc6 { fill: none; stroke-width: 4px; stroke: hsl(120, 100%, 75%)}
rect.pc7 { fill: none; stroke-width: 4px; stroke: hsl(255, 100%, 75%)}

.event0 { fill: hsla(0, 0%, 100%, 0.3); }
.event1 { fill: hsl(101, 100%, 50%); }
.event2 { fill: hsl(57, 100%, 50%); }
.event3 { fill: hsl(32, 100%, 50%); }

line.gap { stroke: #fff; stroke-dasharray: 4 3; }
